CREATOR_EMAIL=creator@example.com
CREATOR_PASSWORD=secret
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=secret
EMPLOYEE_EMAIL=employee@example.com
EMPLOYEE_PASSWORD=secret
CONTACT_EMAIL=contact@example.com
